<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
     <div class="row">
          <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">MY PETS</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <a href="/view_pet_booking/" class="card-link btn btn-success">View pet booking</a>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">MY PRODUCTS</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <a href="/view_my_products/" class="card-link btn btn-success">View Products</a>

  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">APPOINTMENTS</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <a href="/view_booking_appoinments/" class="card-link btn btn-success">View Appoinment</a>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>